.NavBar {
  background-color: #fff;
  height: 100px;
  width: 100%;
  top: 0;
}

.NavBarLogo {
  height: 50px;
  margin: 25px 0 0 50px;
}

.NavBarNavItems {
  float: right;
  height: 50px;
}

.NavBarNavItems div {
  display: inline-block;
  padding: 15px;
  text-transform: uppercase;
  font-size: 14px;
  margin:25px 15px;
  cursor: pointer;
  letter-spacing: 2px;
}

.NavBarNavItems div:nth-child(2) {
  margin-right:50px;
}

@media screen and (max-width: 480px) {
  .NavBar {
    height: 260px;
  }

  .NavBarNavItems {
    float: none;
  }

  .NavBarNavItems div {
    display: block;
    margin-left: 50px;
  }

  .NavBarNavItems div:nth-child(2) {
    margin-right: 0;
  }
}

