.LoginForm {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column nowrap;
  padding: 15px 0 25px 0;
}

.Forgot {
  width: calc(100% - 50px);
  margin: 0 0 15px 0;
  font-size: 1.2rem;
  text-align: right;
}