.LoginForm {
    height: 95%;
    display: flex;
    align-items: center;
    justify-content: center;;
    flex-flow: column nowrap;
}

.element {
    height: 50px;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1em 0;
}

.element.input {
    background: rgba(238,238,238,0.65);
    border-radius: 0;
    font-size: 1.25em;
    padding: 0 1em !important;
}

.link {
  color: #4990e2;
  font-size: 0.8em;
  text-align: right;
  width: 90%;
}

.LoginForm .input-group {
  width: 100%;
}
