.InfoTable  {
  width: 90%;
}

.header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: 1.3em;
  font-weight: bold;
  text-transform: uppercase;
  padding: 2em 0;
}

.row {
  padding: 10px 0;
  margin-left: 2em;
  border-bottom: solid 1px #cccccc;
}

.cell {
  padding-left: 0px;
}

.key {
  composes: cell;
  text-transform: uppercase;
}

.edit {
  font-size:0.9em;
	font-weight: bold;
	text-align: center;
	color: #4990e2;
}
