.InfoTable  {
  width: 100%;
}

.InfoTable table {
  width: 100%;
  border-collapse: collapse;
}

.InfoTable .info-title {
  padding-left: 1em;
  font-size: 1.3em;
  font-weight: bold;
  text-transform: uppercase
}

.InfoTable .info-table {
  padding: 1em 3em;
}

.InfoTable .info-table tr {
  padding: 1em 3em;
  width: 100%;
  border-bottom: solid 1px gray;
}

.InfoTable .info-table tr td {
  width: 10em;
}

.InfoTable .info-table .table-key {
    text-transform: uppercase;
}
