.NavMenu {
  background: #333;
  height: 4em;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}

.item {
  height: 100%;
  width: 13em;
  text-transform: uppercase;
  color: white !important;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none !important;
}

.active {
  composes: item;
  background: #FFDE17;
  color: black !important;
}
