.Search .search-box {
  width: 100%;
  border-bottom: solid 1px black;
}

.Search .search-box input {
  border: none;
  background-color: inherit;
  width: 100%;
  padding: 0.75em 0;
}

.Search .search-box input::placeholder {
    color: rgba(0,0,0,0.4);
}

.Search .search-box input:focus {
  box-shadow: none;
  outline-width: 0;
}
