.FreelancerBanner {
  background-image: radial-gradient(circle at 5% 15%, #ffdd80, #fbc701);
  height: 10em;
  width: 100%;
  padding-left: 3em;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
}

.text {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
}

.FreelancerBanner h2 {
  margin: 0;
  font-weight: bold;
  font-size: 3em;
}

.title {
  font-size: 1.3em;
  margin-top: 0.5em;
  text-transform: uppercase;
}

.status {
  width: 6em;
	height: 2em;
	border-radius: 4px;
  margin-left: 1em;
  color: white;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
}

.active {
  composes: status;
  background-color: #81d135;
}
