.Login {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(to bottom, rgba(255, 221, 128, 1) 0%, rgba(251, 199, 57, 1) 100%);
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.Login .login-box {
    height: 60vh;
    max-width: calc(60vh * 0.67);
    background: rgba(238,238,238,0.65);
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}

.Login .login-image {
    flex: 2;
}

.Login .LoginForm {
    flex: 4;
}

.Login .login-footer {
    flex: 1;
    color: #4A90E2;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.Login .login-footer * {
    padding: 0em 0.3em;
}
