.Avatar {
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  padding: 0 0.5em;
}

.user {
  padding: 0 0.5em;
}

.gravatar {
  height: 3em;
  border-radius: 50%;
  padding: 0 0.5em;
}

.arrow {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;

  border-top: 5px solid black;
  padding: 0;
}
